body{
	background-image:url(./20210604nlxl-phe-03.jpg);
    max-width:960px;
    max-height:550px;
	}

h1{
	font-family: 'Caveat', cursive;
	}

form{
	padding:30px 50px;
	margin-left: 50px;
	}

dt{
	width: 120px;
	padding:10px 0;
	float:left;
	clear:both;
	}

dd{
	padding:10px 0;
	}

#loginbutton {
      background-color: #bdb76b;
      border-radius:5px;
      width:100px;

    }
#loginbutton:hover {
      background-color: #6b8e23;
    }

#resetbutton {
      background-color: #e9967a;
      border-radius:5px;
      width:100px;
    }
#resetbutton:hover {
      background-color: #cd5c5c;
    }

#closebutton {
	width:75px;
	margin-top:250px;
	border-radius:5px;
	}

#closebutton:hover {
      background-color: #b0c4de;
    }

.button_wrapper{
   text-align:center;
}

#p1{
	font-weight: bold;
	}

#p3{
	font-family: 'Caveat', cursive;
	color:#20b2aa;
	text-align: right;
	}

